<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="DB" connectionString="Server=.\SQLI03;Database=Test_SMO_Database;Trusted_Connection=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
